#JWT CONFIG
JWT_TOKEN_EXPIRE=
JWT_KEY=

#SERVER CONFIG 
PORT=
AUTO_MIGRATE=
TIME_ZONE=

#MYSQL CONFIG
DB_MASTER_HOSTS=
DB_SLAVE_HOSTS=
DB_NAME=
DB_USER=
DB_PASS=
DB_MAX_IDLE_CONNECTIONS=
DB_MAX_OPEN_CONNECTIONS=

#SERVER CONFIG 
PORT=

#PAGINATION CONFIG
MOVIE_ROW_PER_PAGE=
